<section class="playerDisplay  player2">
	<h2>{{gameCtrl.player2.name}}</h2>
</section>

<section class="player2Cards playerCards cardContainer" ng-repeat="card in gameCtrl.player2.cards">
	<div class="card {{card.flipped}} {{card.matched}}" ng-click='gameCtrl.playCard("player2", $index, gameCtrl.player2)' id='player2{{$index}}'>
	  <figure class="face">
			<img src="./static/img/cards/{{card.code}}.png" alt="{{card.code}}">
	  </figure>
 	 	<figure class="back">
			<img src="{{gameCtrl.deckStyle}}" alt="Card Back">
		</figure>
	</div>
</section>