doctype html
html(lang="en")

head
  title Harakiri
  link(rel='stylesheet', href='/static/css/main.css', type='text/css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Orbitron:400,700', type='text/css')

body(ng-app="CapstoneApp")

  div(ng-view)

  //Capstone Scripts

  //dependencies

  script(src='/static/bower_components/socket.io-client/socket.io.js')
  script(src='/static/bower_components/jquery/dist/jquery.min.js')
  script(src='/static/bower_components/angular/angular.min.js')
  script(src='/static/bower_components/angular-resource/angular-resource.min.js')
  script(src='/static/bower_components/angular-filter/dist/angular-filter.min.js')
  script(src='/static/bower_components/angular-route/angular-route.min.js')

  //app scripts
  script(src='/static/js/main.js')
  //controllers
  script(src='/static/js/optionsCtrl.js')
  script(src='/static/js/gameFinderCtrl.js')
  script(src='/static/js/gameCtrl.js')
  script(src='/static/js/onlineGameCtrl.js')

  //services
  script(src='/static/js/cardsSrvs.js')
  script(src='/static/js/configSrvs.js')
  script(src='/static/js/socketSrvs.js')



