/* sassy variables */
/*
  CSS Reset
 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Fonts*/
/*@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700);*/
/*//Welcome page styles//*/
body {
  background-color: #cd0010;
  font-family: "Orbitron", sans-serif;
  color: black;
  text-align: center; }

div#options {
  display: none; }

div#welcome,
div#options {
  margin: 10% 15%;
  background-color: rgba(67, 62, 57, 0.9);
  height: 80%;
  border-radius: 5px;
  border: 3px solid rgba(234, 210, 172, 0.9);
  box-shadow: 7px 7px 15px black; }

#welcome h1,
#welcome h2 {
  font-size: 3em;
  font-weight: 700;
  margin: 5%;
  text-shadow: 1px 1px 5px rgba(234, 210, 172, 0.9); }

#welcome h2 {
  font-size: 2em; }

.hoverButton:hover {
  color: rgba(234, 210, 172, 0.9); }

div#welcome img {
  height: 100%;
  width: 100%; }

div#options img {
  height: 10em;
  width: 7em;
  box-shadow: 3px 3px 5px black; }

div#options img#chosenStyle {
  margin: 4em; }

div#options h1,
div#options h2 {
  margin: 1em; }

div#options h1 {
  font-size: 3em; }

div#options h2 {
  font-size: 2em; }

div#options span.selected {
  font-size: 2em;
  color: #cd0010; }

div#cardStyles {
  display: inline-block;
  margin: 4em;
  transform-origin: 50% 50%;
  border-radius: 16px;
  height: 10em;
  width: 7em; }

#cardStyles figure {
  margin: 0;
  position: absolute;
  width: 0;
  height: 0; }

#cardStyles figure img {
  border: 3px solid rgba(234, 210, 172, 0.9); }

#optionsContainer {
  margin: 10% auto;
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800; }

#optionsCard {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 2s;
  transform-origin: 50% 50%;
  border-radius: 16px;
  width: 100%;
  height: 100%; }

#optionsCard figure {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  border: 3px solid rgba(234, 210, 172, 0.9);
  box-shadow: 3px 3px 5px black; }

#optionsCard .face {
  background: #cd0010;
  background-size: 100% 100%;
  border-radius: 9px; }

#optionsCard .back {
  background: #454955;
  border-radius: 9px;
  background-size: 100% 100%;
  -webkit-transform: rotateY(180deg); }

#optionsCard #card1 {
  z-index: 10 !important; }

#optionsCard #card1.fan {
  transition: transform 2s;
  transform: rotateY(180deg) rotate(5deg) translateZ(-1em);
  transform-origin: center bottom; }

#optionsCard #card2 {
  z-index: 9 !important;
  background-image: url("../img/cards/AH.png"); }

#optionsCard #card2.fan {
  transition: transform 2s;
  transform: rotateY(180deg) rotate(-5deg) translateZ(-2em);
  transform-origin: center bottom; }

#optionsCard #card3 {
  z-index: 8 !important;
  background-image: url("../img/cards/AS.png"); }

#optionsCard #card3.fan {
  transition: transform 2s;
  transform: rotateY(180deg) rotate(-15deg) translateZ(-3em);
  transform-origin: center bottom; }

.rotated {
  -webkit-transform: rotateY(540deg); }

/*Styles for gameboard*/
#gameBoard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: rgba(67, 62, 57, 0.9);
  border: 3px solid rgba(234, 210, 172, 0.9);
  border-radius: 6px; }

#leftSidebar {
  flex-grow: 1;
  width: 15%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }

#dealButton {
  display: none; }

#middleSection {
  flex-grow: 5;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.playerBoards {
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 30%;
  border-right: 2px solid rgba(234, 210, 172, 0.9);
  border-left: 2px solid rgba(234, 210, 172, 0.9);
  border-collapse: collapse; }

.currentPlayerBoard {
  flex-grow: 5;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 70%; }

#rightSidebar {
  flex-grow: 2;
  width: 20%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }

.playerDisplay {
  width: 95%;
  line-height: 3em; }

.playerCards {
  flex-grow: 1;
  width: 30%; }

.card {
  position: relative;
  display: flex;
  height: 7em;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 2s;
  transform-origin: 50% 50%; }

/*.card:hover {

  -webkit-transform: rotateY(180deg);

}
*/
.flipped {
  transition: transform 2s;
  transform: rotateY(180deg); }

.matched img {
  border: 3px solid rgba(67, 62, 57, 0.9); }

.active h2 {
  text-shadow: 1px 1px 2px rgba(234, 210, 172, 0.9);
  color: rgba(234, 210, 172, 0.9);
  font-weight: 700; }

.card figure {
  position: absolute;
  flex: 0 1 auto;
  height: 100%;
  width: 100%; }

.playerCards img {
  max-height: 7em;
  max-width: 4.5em;
  box-shadow: 2px 2px 5px black; }

.playerBoards .playerCards img {
  max-height: 4em;
  max-width: 2.5em;
  box-shadow: 2px 2px 5px black; }

.deck img,
.discard img {
  height: 9em;
  width: 6em;
  margin-top: 1em;
  box-shadow: 2px 2px 5px black; }

.playerCards .face {
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg); }

.playerCards .back {
  -webkit-backface-visibility: hidden; }

.scoreBoard h3,
.controls h3 {
  font-size: 1.5em;
  margin-bottom: .5em;
  text-shadow: 1px 1px 2px rgba(234, 210, 172, 0.9); }

.scoreBoard p,
.controls p {
  font-size: 1em;
  margin-bottom: 2em; }

/*# sourceMappingURL=main.css.map */
