

	<div id='currentUsers' ng-hide="gameFinder.currentGame">
		<h3>Current Users</h3>
		<p ng-repeat="user in gameFinder.users" ng-hide="user == gameFinder.currentUserName">{{user}}</p>
		<p>You are {{gameFinder.currentUserName}}</p>
	</div>

	<div id='availableGames' ng-hide="gameFinder.currentGame">
		<h3>Available Games</h3>
		<p ng-repeat="game in gameFinder.availableGames" ng-click="gameFinder.joinGame(game)" class="hoverButton">{{game.name}}</p>
	</div>

	<div id="newGame" ng-hide="gameFinder.currentGame">
		<h3>Start New Game</h3>
		<p>Number of players:
			<span class="hoverButton" ng-click='gameFinder.generateNewGame(2)'>2</span>
			<span class="hoverButton" ng-click='gameFinder.generateNewGame(3)'>3</span>
			<span class="hoverButton" ng-click='gameFinder.generateNewGame(4)'>4</span>

		</p>
	</div>
	<div ng-show="gameFinder.currentGame">
		<h3>You joined:</h3>
		<p>{{gameFinder.currentGame.name}}</p>
		<h3>The Game will Start when enough players have joined.</h3>

	</div>

	<h3 class="hoverButton exitButton"  ng-click='gameFinder.hideGameFinder()'>Exit</h3>