<div id='gameBoard2'>

	<div id="leftSidebar">

		<section class="scoreBoard">
			<h3>{{gameCtrl.player1.name}}</h3>
			<p>Score: {{gameCtrl.player1.score}}</p>

			<h3>{{gameCtrl.player2.name}}</h3>
			<p>Score: {{gameCtrl.player2.score}}</p>
		</section>

		<h2>Drawn Card</h2>
		<section class="deck cardContainer">
	  	  <figure class="face">
					<img src="{{gameCtrl.deckStyle}}" alt="Card Back">
	  	  </figure>
	   	 	<figure class="back">
				</figure>
 		</section>

	</div>

	<div id="playerBoards">

		<section class="playerDisplay">
			<h2>{{gameCtrl.player1.name}}</h2>
		</section>

		<section class="playerCards cardContainer" ng-repeat="card in gameCtrl.player1.cards">
			<div class="card" ng-click='gameCtrl.flipCard("player1", $index)' id='player1{{$index}}'>
	  	  <figure class="face">
					<img src="{{card.images.png}}" alt="card.code">
	  	  </figure>
	   	 	<figure class="back">
					<img src="{{gameCtrl.deckStyle}}" alt="Card Back">
				</figure>
			</div>
 		</section>

		<section class="playerDisplay">
			<h2>{{gameCtrl.player2.name}}</h2>
		</section>
		<section class="playerCards cardContainer" ng-repeat="card in gameCtrl.player2.cards">
			<div class="card" ng-click='gameCtrl.flipCard("player2", $index)' id='player2{{$index}}'>
	  	  <figure class="face">
					<img src="{{card.images.png}}" alt="card.code">
	  	  </figure>
	   	 	<figure class="back">
					<img src="{{gameCtrl.deckStyle}}" alt="Card Back">
				</figure>
			</div>
 		</section>


	</div> <!--end player boards -->

	<div id="rightSidebar">
		<h2>Deck</h2>

		<section class="deck cardContainer">
	  	  <figure class="face">
					<img src="{{gameCtrl.deckStyle}}" alt="Card Back">
	  	  </figure>
 		</section>

 		<h2>Discard</h2>

 		<section class="discard cardContainer" >
	  	  <figure class="face">
					<img src="{{gameCtrl.deck.cards[0].images.png}}" alt="gameCtrl.deck.cards[0].code">
	  	  </figure>

 		</section>


	</div>

</div>