<div id='gameBoard'>

	<div id="leftSidebar">
		<section class="controls">
			<h3>Options</h3>


		</section>

		<section class="scoreBoard">
			<h3>{{gameCtrl.player1.name}}</h3>
			<p>Score: {{gameCtrl.player1.score}}</p>

			<h3>{{gameCtrl.player2.name}}</h3>
			<p>Score: {{gameCtrl.player2.score}}</p>

			<h3 ng-show='gameCtrl.player3'>{{gameCtrl.player3.name}}</h3>
			<p ng-show='gameCtrl.player3'>Score: {{gameCtrl.player3.score}}</p>

			<h3 ng-show='gameCtrl.player4'>{{gameCtrl.player4.name}}</h3>
			<p ng-show='gameCtrl.player4'>Score: {{gameCtrl.player4.score}}</p>

			<h3>Current Round:</h3>
			<p>{{gameCtrl.currentRound}}</p>
		</section>

		<h2>Selected Card</h2>
		<section class="deck cardContainer">
	  	  <figure class="face">
					<img src="./static/img/cards/{{gameCtrl.selectedCard[0].code}}.png" alt="Selected Card">
	  	  </figure>
	   	 	<figure class="back">
				</figure>
 		</section>

	</div>

	<div id="middleSection">

			<h4 id="startButton" ng-click='gameCtrl.startGame()' class="hoverButton">Start</h4>
			<h4 id="dealButton" ng-click='gameCtrl.deal()' class="hoverButton">Deal</h4>

	<ng-include src="'./static/partials/playerGrids/player1grid.html'" class="playerBoards animate-hide" ng-hide="gameCtrl.currentUser === gameCtrl.player1.name"></ng-include>
	<ng-include src="'./static/partials/playerGrids/player2grid.html'" class="playerBoards animate-hide" ng-hide="gameCtrl.currentUser === gameCtrl.player2.name"></ng-include>
	<ng-include src="'./static/partials/playerGrids/player3grid.html'" class="playerBoards animate-hide" ng-hide="gameCtrl.currentUser === gameCtrl.player3.name || !gameCtrl.player3"></ng-include>
	<ng-include src="'./static/partials/playerGrids/player4grid.html'" class="playerBoards animate-hide"   ng-hide="gameCtrl.currentUser === gameCtrl.player4.name || !gameCtrl.player4"></ng-include>


	<ng-include src="'./static/partials/playerGrids/player1grid.html'" class="currentPlayerBoard active animate-hide" ng-show="gameCtrl.currentUser === gameCtrl.player1.name"></ng-include>
	<ng-include src="'./static/partials/playerGrids/player2grid.html'" class="currentPlayerBoard active animate-hide" ng-show="gameCtrl.currentUser === gameCtrl.player2.name"></ng-include>
	<ng-include src="'./static/partials/playerGrids/player3grid.html'" class="currentPlayerBoard active animate-hide" ng-show="gameCtrl.currentUser === gameCtrl.player3.name"></ng-include>
	<ng-include src="'./static/partials/playerGrids/player4grid.html'" class="currentPlayerBoard active animate-hide" ng-show="gameCtrl.currentUser === gameCtrl.player4.name"></ng-include>

	</div>

	<div id="rightSidebar">
		<h2>Deck</h2>

		<section class="deck cardContainer" ng-click="gameCtrl.selectCard('deck')">
	  	  <figure class="face">
					<img src="{{gameCtrl.deckStyle}}" alt="Card Back">
	  	  </figure>
 		</section>

 		<h2>Discard</h2>

 		<section class="discard cardContainer" ng-click="gameCtrl.selectCard('discard')">
	  	  <figure class="face">
					<img src="./static/img/cards/{{gameCtrl.discard[0].code}}.png" alt="Discard Pile">
	  	  </figure>

 		</section>




	</div>

</div>