<div>
	<h2>How to play</h2>

	<p>Each player has a 2 x 3 grid of 6 cards.</p>
	<p>The object of the game is to have the lowest score at the end of 9 rounds.</p>
	<p>Substitute your cards for lower value cards or make matches to win.</p>
	<p>Most cards are worth their face value. e.g. 8 is 8 points, 4 is 4 points, and an Ace is 1 point.</p>
	<p>All face-cards are worth 10 points</p>
	<p>2s are special, and are scored as negative 2 points.</p>

	<h3>Game Play</h3>
	<p>At the start of a round, each players is dealt a new grid of 2 cards shown face-up and 4 face-down.</p>

	<p>Players alternate drawing the top card of either the deck or discard pile and either substituting them (face-up) for cards in their grids or discarding them.</p>
	<p>Matched cards of the same value in a 2 card collumn (e.g. a pair of 8s or a pair of 3s) are scored as 0 points.</p>
	<p>The round ends when one player has all 6 cards shown face up.</p>


	<h3 class="hoverButton exitButton"  ng-click='optionsCtrl.hideRules()'>Exit</h3>
</div>