<div id='welcome'>
	<h1>Welcome to Harakiri</h1>
	<div class="cardContainer" id="optionsContainer">
    <div class="card"  id="optionsCard">
	    <figure class="face" ng-click="optionsCtrl.animateCards()">
				<img src="{{optionsCtrl.deckStyle}}" alt="cardBack">
	    </figure>
	    <figure class="back" id="card1">
	    	<h2 type="h2" ng-click="optionsCtrl.showOptions()" class="hoverButton">Options</h2>
				<h2 type="h2" ng-click="optionsCtrl.showRules()" class="hoverButton">Rules</h2>
				<h2 type="h2" ng-click="optionsCtrl.startGame()" class="hoverButton">Play Offline</h2>
				<h2 type="h2" ng-click="optionsCtrl.showGameFinder()" class="hoverButton">Find Game</h2>

	    </figure>

	    <figure class="back" id="card2">

				<!-- <h2 type="h2" ng-click="optionsCtrl.startGame()" class="hoverButton">Play</h2> -->
	    </figure>

	    <figure class="back" id="card3">

				<!-- <h2 type="h2" ng-click="optionsCtrl.startGame()" class="hoverButton">Play</h2> -->
	    </figure>

    </div>
  </div>
</div>
<div id='options'>
	<ng-include src="'./static/partials/offlineOptions.html'"></ng-include>
</div>

<div id='gameFinder' ng-controller="GameFinderCtrl as gameFinder">
	<ng-include id='gameFinderFlex' src="'./static/partials/findGame.html'"></ng-include>
</div>
